.kontejner-glavna {
  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .metapodaci {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    color: #666;
    margin-top: 0.5rem;
  }
}
